<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">-->

<!--<suite name="BasicAuthTest" verbose="1">-->

<!--    <test name="LoginTest">-->
<!--        <classes>-->
<!--            <class name="BasicAuthTest"/>-->
<!--            <parameter name="username" value="admin"/>-->
<!--            <parameter name="password" value="admin"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->